@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
* {
  box-sizing: border-box;
  font-family: montserrat;
}

html {
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

header {
  width: inherit;
  height: 100px;
  background-color: black;
  background-size: cover;
}

#contact-info {
  background-color: black;
  height: 50px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 4px;
}

#company-logo {
  display: flex;
  margin-top: 0;
  width: 400px;
  justify-content: left;
  align-items: center;
}

#company-name-header {
  margin-top: 6px;
  margin-left: 4px;
}

#info {
  display: flex;
  justify-content: space-between;
  width: 350px;
}

.header-info {
  display: flex;
  margin: 0 auto;
}

.header-info img {
  width: 30px;
  height: 30px;
  padding-right: 10px;
  margin-top: 5px;
}

.header-deets {
  display: flex;
  flex-direction: column;
  color: #b62222;
  justify-content: center;
  margin-bottom: 2px;
}

.header-deets p {
  font-size: 10px;
  margin: 0;
  padding: 0;
  color: #777777;
}

.header-deets h3 {
  font-size: 12px;
  margin: 0;
  margin-top: 3px;
  padding: 0;
  color: #ffffff;
}

#company-name-header h2 {
  color: #f98315;
  font-size: 15px;
  margin: 0px;
  padding: 0px;
}
#company-name-header p {
  color: #d3bcbc;
  font-size: 10px;
  padding-top: -10;
  margin: 0px;
  padding: 0px;
}

#nav-div {
  width: 100%;
  height: 50px;
  background-color: #f5f5f5;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  height: 50px;
  width: 80%;
  margin: 0 auto;
}

ul {
  display: flex;
  padding-left: 0;
  width: 350px;
  justify-content: space-between;
}

nav li {
  /* margin-left: 15px; */
  list-style: none;
}

nav a {
  color: #222222;
  text-decoration: none;
  font-size: 16px;
}

nav a:hover {
  color: #955535;
}

#bold a {
  border: 3px solid #f98315;
  padding: 3px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

#call-button {
  /* margin-right: 80px; */
  margin-top: 10px;
  height: 30px;
  border-radius: 15px;
  background-color: #f98315;
  color: #ffffff;
  border: 1px solid #f98315;
}

#call-button:hover {
  background-color: #ffffff;
  color: #f98315;
}

main {
  height: auto;
  width: 80%;
  /* border: 1px solid rebeccapurple; */
  margin: 0 auto;
}

section {
  margin-top: 30px;
}

section h1 {
  font-size: 55px;
  text-align: center;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: Montagu Slab;
}

section p.second-line {
  font-size: 35px;
  text-align: center;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: 100;
  font-family: Montagu Slab;
}

section img {
  width: 60px;
}

section .pool-circle {
  margin: 0;
  padding: 0;
  position: relative;
  top: 8px;
}

#beach-img {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

#beach-img img {
  width: 94%;
}

#service-header {
  padding-left: 0;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

#service-header img {
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-right: 10px;
}

.one,
.two,
.three,
.four {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

button.service {
  border-radius: 25px;
  border: 1px solid #f98315;
  background-color: #ffffff;
  /* margin-top: 53px; */
  width: 150px;
  height: 40px;
  padding: 0;
}

#services-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#scroll {
  display: flex;
  /* border: 1px solid salmon; */
  margin-left: 16%;
  /* justify-content: space-evenly; */
  overflow: scroll;
}

#scroll img {
  width: 200px;
  height: 300px;
  margin-left: 20px;
}

#list {
  /* border: 1px solid greenyellow; */
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.one:hover,
.two:hover,
.three:hover,
.four:hover {
  color: #955535;
}

#select-list {
  /* border: 1px solid greenyellow; */
  font-size: medium;
  width: 200px;
}

#personal-touch {
  /* border: 1px solid gold; */
  margin-top: 100px;
  display: flex;
  height: 350px;
  width: 100%;
}

#personal-touch-img {
  /* border: 1px solid blue; */
  height: 350px;
  width: 50%;
  display: flex;
}

#personal-touch-img .img-1 {
  width: 90%;
}

#personal-touch-img .img-2 {
  width: 70px;
  height: 70px;
  position: relative;
  right: 80px;
  top: 40px;
}

#personal-touch-write-up {
  /* border: 1px solid rebeccapurple; */
  height: 350px;
  width: 50%;
}

#personal-touch-write-up button {
  border-radius: 25px;
  border: 1px solid #f98315;
  background-color: #f98315;
  color: #ffffff;
  /* margin-top: 53px; */
  width: 150px;
  height: 40px;
  padding: 0;
  margin-top: 4px 8px;
}

#personal-touch-write-up button:hover {
  background-color: #ffffff;
  color: #f98315;
}

#personal-touch-write-up p.first-p {
  /* font-size: 20px; */
  color: #f98315;
  margin: 0;
  margin-bottom: 20px;
}

#personal-touch-write-up h2 {
  font-size: 40px;
  margin: 0;
  text-transform: uppercase;
}

#personal-touch-write-up p.second-p {
  /* font-size: 20px; */
  color: black;
  margin-top: 30px;
  font-weight: 100;
}

#why-us {
  /* border: 1px solid green; */
  width: 100%;
  height: 150px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

#choose-us {
  /* border: 1px solid rebeccapurple; */
  width: 70%;
}

#why-us button {
  border-radius: 25px;
  border: 1px solid #f98315;
  background-color: #ffffff;
  /* margin-top: 53px; */
  width: 150px;
  height: 40px;
  padding: 0;
  margin-top: 50px;
}

#why-us button:hover {
  background-color: #f98315;
  color: #ffffff;
}

#choose-us h1 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

#choose-us p {
  margin: 0;
  padding: 0;
}

#numbers-pool {
  width: 50%;
  display: flex;
  height: 150px;
  /* border: 1px solid saddlebrown; */
}

#numbers-pool h1 {
  font-size: 40px;
  /* width: 230px; */
}

#pools-img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

#building-pool {
  width: 100%;
  position: relative;
  bottom: 150px;
}

#another-arrow {
  width: 70px;
  position: relative;
  bottom: 230px;
  right: 20px;
}

#clients {
  /* border: 1px solid rebeccapurple; */
  width: 70%;
  margin-bottom: 100px;
  position: relative;
  bottom: 120px;
}

#clients h1 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

#clients p {
  margin: 0;
  padding: 0;
}

#testimonials {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  /* border: 1px solid greenyellow; */
  height: 300px;
  position: relative;
  bottom: 180px;
}

#testimonials img {
  width: 45%;
}

.testimonial-two {
  height: 250px;
}

h1#price-header {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  bottom: 40px;
}

#price-plan {
  width: 100%;
  height: 400px;
  /* border: 1px solid blue; */
  display: flex;
  margin-bottom: 150px;
}

#standard,
#premium,
#pro {
  /* border: 1px solid gold; */
  height: 500px;
  flex-basis: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

button.small-button {
  width: 125px;
  height: 35px;
  border-radius: 20px;
  border: 1px solid #f98315;
  background-color: #ffffff;
  margin-top: 20px;
}

button.big-button {
  width: 230px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #f98315;
  background-color: #ffffff;
  margin-bottom: 60px;
  /* line-height: 40px; */
}

.price {
  display: flex;
  /* border: 1px solid red; */
}

.service-list {
  display: block;
  /* border: 1px solid blueviolet; */
  position: relative;
  bottom: 30px;
}

.service-list li {
  list-style: none;
  margin-bottom: 10px;
  margin-right: 80px;
  font-size: larger;
}

#premium {
  border: 1px solid #eae6e6;
  border-bottom: 1px solid #f98315;
}

#premium .small-button {
  color: #50af9b;
  border: 1px solid #50af9b;
  width: 100px;
}

#premium .small-button:hover {
  color: #ffffff;
  background-color: #50af9b;
}

#premium .big-button {
  background-color: #f98315;
  color: #ffffff;
}

#premium .big-button:hover {
  background-color: #ffffff;
  color: #f98315;
}

#pro .small-button {
  color: #3980c2;
  border: 1px solid #3980c2;
  width: 55px;
}

#pro .small-button:hover {
  background-color: #3980c2;
  color: #ffffff;
}

.price h2 {
  font-size: 60px;
}

.price p {
  color: #4f4f4f;
  padding-top: 40px;
  padding-left: 5px;
  font-size: 30px;
}

li.grey-list {
  color: #4f4f4f;
}

footer {
  width: 100%;
  border: 1px solid black;
  height: 450px;
  background-color: #151515;
  margin: 0;
  padding: 0;
}

#footer {
  /* border: 1px solid lightcoral; */
  width: 75%;
  height: 55%;
  margin: 0 auto;
  margin-top: 95px;
  display: flex;
}

#footer-gist,
#footer-list,
#sign-up {
  flex-basis: 33.3%;
  /* border: 1px solid blanchedalmond; */
  height: 100%;
}

#copyrights {
  /* border: 1px solid green; */
  width: 250px;
  height: 30px;
  margin-left: 200px;
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}

#copyrights p {
  color: #d7d2cb;
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
}

#footer-gist {
  display: flex;
  flex-direction: column;
}

#footer-logo,
#footer-write-up,
#social-media {
  flex-basis: 33.3%;
  /* border: 1px solid blue; */
  height: 100%;
}

#footer-write-up p {
  color: #f7f7f7;
  font-size: 12px;
  padding-bottom: 30px;
}

#footer-logo img {
  width: 175px;
  height: 35px;
}

#social-media img {
  width: 25px;
  margin-right: 10px;
}

img.facebook {
  height: 30px;
  width: 15px;
}

#footer-list {
  display: flex;
}

#footer-list ul {
  /* border: 1px solid royalblue; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
  margin: 0 auto;
  /* padding-right: 20px; */
}

#footer-list li {
  list-style: none;
  color: #f7f7f7;
  font-size: 14px;
  text-transform: uppercase;
}

#footer-list li:hover {
  color: #d3bcbc;
}

#sign-up {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 30px;
}

#sign-up h2 {
  color: #f7f7f7;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

#sign-up input {
  background-color: #151515;
  border: 1px solid #91979f;
  border-radius: 15px;
  width: 100%;
  height: 30px;
  color: #ffffff;
}

#email {
  line-height: 50px;
  padding-left: 15px;
}

#sign-up button {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  margin-top: 10px;
  background-color: #f98315;
  border: 1px solid #f98315;
  color: #ffffff;
}

#sign-up button:hover {
  background-color: #ffffff;
  color: #f98315;
}

#sign-up p {
  font-size: 9px;
  color: #91979f;
}

#sign-up a {
  color: #91979f;
}

#first-ul {
  padding: 0;
}

button:hover {
  background-color: #f98315;
  color: #ffffff;
}
