* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  border: 1px solid red;
}

header {
  width: auto;
  height: 80px;
  /* border: 1px solid green; */
}

#contact-info {
  background-color: black;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#company-logo {
  display: flex;
  margin-left: 10%;
  margin-top: 0;
}

#company-name-header {
  margin-top: 6px;
  margin-left: 4px;
}

#info {
  display: flex;
  margin-right: 40px;
}

#info img {
  height: 30px;
  margin-left: 10px;
  margin-top: 5px;
}
#company-name-header h2 {
  color: #f98315;
  font-size: 15px;
  margin: 0px;
  padding: 0px;
}
#company-name-header p {
  color: #d3bcbc;
  font-size: 10px;
  padding-top: -10;
  margin: 0px;
  padding: 0px;
}

#company-logo {
  /* border: 1px solid red; */
  width: 15%;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  height: 40px;
}
ul {
  display: flex;
  margin-left: 30px;
  justify-content: center;
  align-items: center;
}

nav li {
  margin-left: 15px;
  list-style: none;
}

nav a {
  color: #222222;
  text-decoration: none;
  font-size: small;
}

#call-button {
  margin-right: 40px;
  margin-top: 4px;
  height: 30px;
  border-radius: 15px;
  background-color: #f98315;
  color: #ffffff;
  border: 1px solid #f98315;
}
